.navbar-default .navbar-top-links > .logout-link > a {
    color: #337ab7;
}

.character-count {
    margin-right: 5px;
}

.card-heading {
    margin-left: 60px;
}

.panel-heading ul {
    margin-bottom: 0;
}

.handle-name {
    font-size: 17px;
    font-weight: bold;
}

.card-body {
    margin-top: 4px;
}

.tweet-body {
    margin-bottom: 0;
}

.card-message {
    padding-top: 10px;
    padding-bottom: 10px;
}

.action-icon {
    float: left;
    margin-top: 2px;
}

.list-group-item i {
    margin-left: -20px;
}

.action-item {
    padding-left: 25px;
}

.load-more {
    margin-bottom: 20px;
}