<!-- Navigation -->
<nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#/">TweetCheck</a>
    </div>

    <ul class="nav navbar-top-links navbar-right">
      <li><a ng-click="logout()">Logout</a></li>
    </ul>

    <div class="navbar-default sidebar" role="navigation">
        <div class="sidebar-nav navbar-collapse">
            <ul class="nav" id="side-menu">
                <li>
                    <a ui-sref="dashboard.review" ui-sref-active="active"><i class="fa fa-fw fa-check"></i> Review</a>
                </li>
                <li ng-class="showHistory ? 'active' : ''">
                    <a ng-model="showHistory" ng-click="showHistory=!showHistory"><i class="fa fa-fw fa-history"></i> History <span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level" ng-show="showHistory">
                        <li><a ui-sref="dashboard.history.tweets" ui-sref-active="active">Tweet history</a></li>
                        <li><a ui-sref="dashboard.history.actions" ui-sref-active="active">Activity log</a></li>
                    </ul>
                </li>
                <li>
                    <a ui-sref="dashboard.compose.new" ui-sref-opts="{reload: true}" ui-sref-active="active"><i class="fa fa-fw fa-pencil-square-o"></i> Compose</a>
                </li>
                <li>
                    <a ui-sref="dashboard.authorize" ui-sref-active="active"><i class="fa fa-fw fa-sign-in"></i> Authorize</a>
                </li>
                <li>
                    <a ui-sref="dashboard.review"><i class="fa fa-fw fa-gear"></i> Settings</a>
                </li>

            </ul>
        </div>
    </div>
</nav>
