<!-- Navigation -->
<nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" ng-click="collapseNavbar=!collapseNavbar" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" ui-sref="dashboard.review">TweetCheck</a>
    </div>

    <div class="navbar-default sidebar" role="navigation" ng-if="$state.current.name !== 'connect'">
        <div class="sidebar-nav navbar-collapse" ng-class="collapseNavbar ? '' : 'collapse'">
            <ul class="nav" id="side-menu">
                <li>
                    <a ui-sref="dashboard.review" ui-sref-active="active"><i class="fa fa-fw fa-check"></i> Review <span ng-bind="pendingCount" class="badge"></span></a>
                </li>
                <li>
                    <a ui-sref="dashboard.schedule" ui-sref-active="active"><i class="fa fa-fw fa-clock-o"></i> Schedule <span ng-bind="scheduledCount" class="badge"></span></a>
                </li>
                <li>
                    <a ui-sref="dashboard.compose({id: null})" ui-sref-opts="{reload: true}" ui-sref-active="active"><i class="fa fa-fw fa-pencil-square-o"></i> Compose</a>
                </li>
                <li ng-class="showHistory ? 'active' : ''">
                    <a ng-model="showHistory" ng-click="showHistory=!showHistory"><i class="fa fa-fw fa-history"></i> History <span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level" ng-show="showHistory">
                        <li><a ui-sref="dashboard.history.tweets" ui-sref-active="active">Tweet history</a></li>
                        <li><a ui-sref="dashboard.history.actions" ui-sref-active="active">Activity log</a></li>
                    </ul>
                </li>
                <li>
                    <a ui-sref="dashboard.settings" ui-sref-active="active"><i class="fa fa-fw fa-gear"></i> Settings</a>
                </li>
                <li class="visible-xs-block">
                    <a ng-click="logout()"><i class="fa fa-fw fa-sign-out"></i> Sign out</a>
                </li>
            </ul>
        </div>
    </div>

    <ul class="nav navbar-nav navbar-top-links navbar-right" ng-hide="collapseNavbar">
      <li class="hidden-xs"><p class="navbar-text">Hello, {{user.email_without_domain}}</p></li>
      <li class="hidden-xs logout-link"><a ui-sref="logout"><i class="fa fa-fw fa-sign-out"></i> Sign out</a></li>
    </ul>
</nav>
