<div class="panel" ng-attr-id="{{'tweet-' + tweet.id}}" ng-class="{'panel-default': tweet.status === 0, 'panel-success': tweet.status === 1, 'panel-danger': tweet.status === -1, 'panel-info': tweet.status === 3}">
  <div class="panel-heading">
    <ul class="list-inline">
        <li>
            <h5 ng-if="tweet.eta === null && tweet.status !== 1">
                <span class="fa fa-fw fa-bolt"></span> Will be posted immediately</h5>
            <h5 ng-if="tweet.eta !== null && tweet.status !== 1">
                <span class="hidden-xs">
                    <span class="fa fa-fw fa-clock-o"></span> Scheduled to be posted {{ tweet.eta | amCalendar }}
                </span>
                <span class="visible-xs-block">
                    <span class="fa fa-fw fa-clock-o"></span> For {{ tweet.eta | amCalendar }}
                </span>
            </h5>
            <h5 ng-if="tweet.status === 1">
                <span class="fa fa-fw fa-check"></span> Posted on Twitter <span am-time-ago="tweet.last_modified"></span>
            </h5>
        </li>
        <li ng-if="tweet.status === 0 || tweet.status === 3" class="pull-right">
            <a ui-sref="dashboard.compose({id: tweet.id})" class="btn btn-small btn-primary" ng-class="{'disabled': processing || processingTracker[tweet.id]}">
                <span class="fa fa-pencil"></span><span class="hidden-xs"> Edit</span>
            </a>
        </li>
        <li ng-if="tweet.status === 1" class="pull-right">
            <a ng-href="https://twitter.com/{{tweet.screen_name}}/status/{{tweet.twitter_id}}" target="_blank" class="btn btn-small btn-default">
                <span class="fa fa-twitter"></span><span class="hidden-xs"> View on Twitter</span>
            </a>
        </li>
        <li class="pull-right">
            <a ng-if="!$state.is('dashboard.detail')" ui-sref="dashboard.detail({id: tweet.id})" class="btn btn-default">
                <span class="fa fa-fw fa-history"></span><span class="hidden-xs"> View activity</span>
            </a>
        </li>
    </ul>
  </div>
  <div class="panel-body">
    <div class="row">
        <div class="col-md-12">
            <img class="" alt="" ng-src="{{handleObject[tweet.handle].profile_image_url}}" style="float: left;">
            <ul class="list-unstyled card-heading">
                <li class="handle-name">{{handleObject[tweet.handle].name}}</li>
                <li class="small text-muted">@{{handleObject[tweet.handle].screen_name}}</li>
            </ul>
        </div>
    </div>

    <div class="row card-body">
        <div class="col-md-12">
            <p ng-bind-html="tweet.body | linkHashtags" class="lead tweet-body"></p>
        </div>
    </div>
  </div>
  <div class="panel-footer">
    <span ng-if="user.is_approver">
        <button ng-if="tweet.status === 0 || tweet.status === 3" ng-click="rejectTweet(tweet)" type="button" class="btn btn-danger" ng-disabled="processing || processingTracker[tweet.id]">
            <span class="fa fa-fw fa-remove"></span> Reject
        </button>
        <button ng-if="tweet.status === 0" ng-click="approveTweet(tweet)" type="button" class="btn btn-success" ng-disabled="processing || processingTracker[tweet.id]">
            <span ng-if="tweet.eta === null">
                <span class="fa fa-fw fa-check"></span> Post now
            </span>
            <span ng-if="tweet.eta !== null">
                <span class="fa fa-fw fa-clock-o"></span> Add to schedule
            </span>
        </button>
    </span>

    <div ng-switch on="tweet.status" ng-if="!(processing || processingTracker[tweet.id])" class="card-message hidden-xs pull-right">
        <small ng-switch-when="0" ng-if="tweet.created === tweet.last_modified">Created by {{tweet.author}} <span am-time-ago="tweet.created"></span></small>
        <small ng-switch-when="0" ng-if="tweet.created !== tweet.last_modified">Edited by {{tweet.last_editor}} <span am-time-ago="tweet.last_modified"></span></small>
        <small ng-switch-when="1">Posted by {{tweet.last_editor}} <span am-time-ago="tweet.last_modified"></span></small>
        <small ng-switch-when="-1">Rejected by {{tweet.last_editor}} <span am-time-ago="tweet.last_modified"></span></small>
        <small ng-switch-when="3">Scheduled by {{tweet.last_editor}} <span am-time-ago="tweet.last_modified"></span></small>
    </div>
    <div ng-include="'views/partials/processing-spinner.html'" class="card-message pull-right hidden-xs"></div>
    <div class="clearfix"></div>
  </div>
</div>
