<div class="panel" ng-attr-id="{{'tweet-' + tweet.id}}"ng-class="{'panel-default': tweet.status === 0, 'panel-success': tweet.status === 1, 'panel-danger': tweet.status === -1}">
  <div class="panel-heading">
    <ul class="list-inline">
        <li ng-switch on="tweet.status">
            <h5 ng-switch-when="0" ng-if="tweet.created === tweet.last_modified">Submitted by {{tweet.author}} <span am-time-ago="tweet.created"></span></h5>
            <h5 ng-switch-when="0" ng-if="tweet.created !== tweet.last_modified">Edited by {{tweet.last_editor}} <span am-time-ago="tweet.last_modified"></span></h5>

            <h5 ng-switch-when="1">Posted by {{tweet.last_editor}} <span am-time-ago="tweet.last_modified"></h5>

            <h5 ng-switch-when="-1">Rejected by {{tweet.last_editor}} <span am-time-ago="tweet.last_modified"></h5>
        </li>

        <li ng-if="tweet.status === 0" class="pull-right"><a ui-sref="dashboard.compose.edit({id: tweet.id})" class="btn btn-small btn-primary"><span class="fa fa-pencil-square"></span> Edit</a></li>
        <li ng-if="tweet.status === 1" class="pull-right"><a ng-href="https://twitter.com/{{tweet.screen_name}}/status/{{tweet.twitter_id}}" target="_blank" class="btn btn-small btn-default"><span class="fa fa-twitter"></span> View on Twitter</a></li>
    </ul>
  </div>
  <div class="panel-body">
    <div class="row">
        <div class="col-md-12">
            <img class="" alt="" ng-src="{{handleObject[tweet.handle].profile_image_url}}" style="float: left;">
            <ul class="list-unstyled card-heading">
                <li class="handle-name">{{handleObject[tweet.handle].name}}</li>
                <li class="small text-muted">@{{handleObject[tweet.handle].screen_name}}</li>
            </ul>
        </div>
    </div>

    <div class="row card-body">
        <div class="col-md-12">
            <p class="lead tweet-body">{{tweet.body}}</p>
        </div>
    </div>
  </div>
  <div class="panel-footer">
    <div ng-switch on="user.is_approver">
        <a ui-sref="dashboard.detail({id: tweet.id})" class="btn btn-default"><span class="fa fa-fw fa-history"></span> View activity</a>
        <button ng-switch-when="true" ng-if="tweet.status === 0" ng-click="rejectTweet(tweet)" type="button" class="btn btn-danger"><span class="fa fa-fw fa-remove"></span> Reject</button>
        <button ng-switch-when="true" ng-if="tweet.status === 0" ng-click="approveTweet(tweet)" type="button" class="btn btn-success"><span class="fa fa-fw fa-check"></span> Post</button>
    </div>
  </div>
</div>
