<div class="row">
  <div class="col-lg-8">
    <form role="form" name="composeForm" novalidate>

      <div class="form-group" ng-class="composeForm.handle.$invalid && !composeForm.handle.$pristine ? 'has-error' : ''">
        <label class="control-label" for="inputHandle">Handle</label>
        <select class="form-control" name="handle" id="inputHandle" ng-model="tweet.handle" ng-options="handle.id as handle.name_with_organization for handle in handles" ng-disabled="disableHandle" required></select>
      </div>

      <div class="form-group" ng-class="composeForm.body.$invalid && !composeForm.body.$pristine ? 'has-error' : ''">
        <label class="control-label" for="inputBody">Body</label>
        <span class="character-count pull-right" ng-bind="getCharacterCount(tweet.body)" ng-style="getCharacterCount(tweet.body) < 0 ? {'color': 'red'} : ''"></span>
        <textarea class="form-control" rows="3" name="body" id="inputBody" ng-model="tweet.body" required></textarea>
      </div>

      <div class="checkbox">
        <label>
          <input ng-model="showScheduleFields" type="checkbox"> <strong>Schedule to post later</strong>
        </label>
      </div>

      <div ng-if="showScheduleFields">
        <div class="form-group">
          <label class="control-label" for="inputDate">Date (MM/DD/YYYY)</label>
          <input ng-model="tweet.etaDate" type="date" class="form-control" name="date" id="inputDate" required>
        </div>

        <div class="form-group">
          <label class="control-label" for="inputTime">Time (HH:MM AM or PM)</label>
          <input ng-model="tweet.etaTime" type="time" class="form-control" name="time" id="inputTime" required>
        </div>
      </div>

      <a ng-if="newTweet" ui-sref="dashboard.review" class="btn btn-default">Cancel</a>
      <button ng-if="!newTweet && user.is_approver" class="btn btn-danger" ng-click="reject(tweet)" ng-disabled="processing">Reject</button>

      <div class="pull-right">
        <span ng-include="'views/partials/processing-spinner.html'"></span>
        <button class="btn btn-primary" type="submit" ng-click="save(tweet)" ng-disabled="composeForm.$invalid || getCharacterCount(tweet.body) < 0 || processing">Save</button>
        <button ng-if="user.is_approver && tweet.status !== 3" class="btn btn-success" ng-click="approve(tweet)" ng-disabled="composeForm.$invalid || getCharacterCount(tweet.body) < 0 || processing">
          <span ng-if="showScheduleFields">Save and add to schedule</span>
          <span ng-if="!showScheduleFields">Save and post now</span>
        </button>
      </div>

    </form>
  </div>
</div>
