<div class="row">
  <div class="col-lg-8">
    <form role="form" name="composeForm" novalidate>

      <div class="form-group" ng-class="composeForm.handle.$invalid && !composeForm.handle.$pristine ? 'has-error' : ''">
        <label class="control-label" for="inputHandle">Handle</label>
        <select class="form-control" name="handle" id="inputHandle" ng-model="tweet.handle" ng-options="handle.id as handle.name_with_organization for handle in handles.results" ng-disabled="disableHandle" required></select>
      </div>

      <div class="form-group" ng-class="composeForm.body.$invalid && !composeForm.body.$pristine ? 'has-error' : ''">
        <label class="control-label" for="inputBody">Body</label>
        <textarea class="form-control" rows="3" name="body" id="inputBody" ng-model="tweet.body" required></textarea>
      </div>

      <a ng-if="newTweet" ui-sref="dashboard.review" class="btn btn-default">Cancel</a>
      <button ng-if="!newTweet && user.is_approver" class="btn btn-danger" ng-click="reject(tweet)" ng-disabled="processing">Reject</button>

      <div class="pull-right">
        <span ng-include="'views/partials/processing-spinner.html'"></span>
        <span class="character-count" ng-bind="getCharacterCount(tweet.body)" ng-style="getCharacterCount(tweet.body) < 0 ? {'color': 'red'} : ''"></span>
        <button class="btn btn-primary" type="submit" ng-click="save(tweet)"ng-disabled="composeForm.$invalid || getCharacterCount(tweet.body) < 0 || processing">Save</button>
        <button ng-if="user.is_approver" class="btn btn-success" ng-click="publish(tweet)" ng-disabled="composeForm.$invalid || getCharacterCount(tweet.body) < 0 || processing">Save and post</button>
      </div>

    </form>
  </div>
</div>
