<div class="row">
  <div ng-switch on="tweet.id" class="col-md-10">

    <h2 ng-switch-when="undefined">Compose new tweet</h2>
    <h2 ng-switch-default>Edit pending tweet</h2>

    <form role="form" name="composeForm">
      <div class="form-group">
        <label for="InputHandle">Handle</label>
        <select class="form-control" id="InputHandle" ng-model="tweet.handle" ng-options="handle.id as handle.name_with_organization for handle in handles.results" required></select>
      </div>
      <div class="form-group">
        <label for="InputBody">Body</label>
        <textarea class="form-control" rows="3" name="body" id="InputBody" ng-model="tweet.body" required></textarea>
        <p class="pull-right">{{ tweet.body | remainingCharacterCount }}</p>
      </div>

      <button class="btn btn-primary" ng-click="save(tweet)">Save</button>
      <a ng-switch-when="undefined" ui-sref="dashboard.review" class="btn btn-default">Cancel</a>
      <button ng-switch-default class="btn btn-danger" ng-click="reject(tweet)">Reject</button>
      <button class="btn btn-success" ng-click="publish(tweet)">Save and post</button>
    </form>

  </div>
</div>