<div class="row">
  <div class="table-responsive">
    <table class="table table-striped table-hover">
      <thead>
        <tr role="row">
          <th>Tweet</th>
          <th>Handle</th>
          <th>Created</th>
          <th>Created by</th>
          <th>Posted</th>
          <th>Posted by</th>
          <th>View on twitter.com</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="item in tweets.results">
          <td><a ui-sref="dashboard.detail({id: item.id})">{{item.body | summarize:true}}</a></td>
          <td>{{item.screen_name}}</td>
          <td>{{item.created | date:'medium'}}</td>
          <td>{{item.author}}</td>
          <td>{{item.last_modified | date:'medium'}}</td>
          <td>{{item.last_editor}}</td>
          <td><a ng-href="https://twitter.com/{{item.screen_name}}/status/{{item.twitter_id}}">Click here</a></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
