<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header">Review tweets</h1>
  </div>
</div>

<div class="row">
  <div class="col-lg-8">
    <div class="panel panel-default" ng-repeat="tweet in tweets.results | filter:{status: 0}">
      <div class="panel-heading">
        <h5 ng-if="tweet.created === tweet.last_modified">Submitted by {{tweet.author}} <span am-time-ago="tweet.created"></span></h5>
        <h5 ng-if="tweet.created !== tweet.last_modified">Edited by {{tweet.last_editor}} <span am-time-ago="tweet.last_modified"></span></h5>
      </div>
      <div class="panel-body">
        <div ng-include="'views/partials/tweet-card.html'"></div>
      </div>
      <div class="panel-footer">
          <a ui-sref="dashboard.compose.edit({id: tweet.id})" class="btn btn-primary"><span class="fa fa-pencil-square"></span> Edit</a>
          <button ng-click="rejectTweet(tweet)" type="button" class="btn btn-danger"><span class="fa fa-remove"></span> Reject</button>
          <button ng-click="approveTweet(tweet)" type="button" class="btn btn-success"><span class="fa fa-check"></span> Post</button>
      </div>
    </div>
  </div>

  <div class="col-lg-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        Recent activity
      </div>
      <div class="panel-body">
        <div class="list-group">
          <li class="list-group-item action-item" ng-repeat="action in activity.results">
            <div ng-include="'views/partials/action.html'">
          </li>
        </div>
      </div>
    </div>
  </div>
</div>
