<div class="row">
  <div class="col-lg-8">
    <div class="panel panel-default" ng-repeat="tweet in tweets.results | filter:{status: 0}">
      <div class="panel-heading">
        <div ng-include="'views/partials/tweet-heading.html'"></div>
      </div>
      <div class="panel-body">
        <div ng-include="'views/partials/tweet-card.html'"></div>
      </div>
      <div class="panel-footer">
          <button ng-click="rejectTweet(tweet)" type="button" class="btn btn-danger"><span class="fa fa-remove"></span> Reject</button>
          <button ng-click="approveTweet(tweet)" type="button" class="btn btn-success"><span class="fa fa-check"></span> Post</button>
      </div>
    </div>
  </div>

  <div class="col-lg-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        Recent activity
      </div>
      <div class="panel-body">
        <div class="list-group">
          <li class="list-group-item action-item" ng-repeat="action in activity.results">
            <div ng-include="'views/partials/action.html'">
          </li>
        </div>
      </div>
    </div>
  </div>
</div>
