<div class="row">
  <div class="col-lg-8">
    <div ng-repeat="tweet in tweets" ng-include="'views/partials/tweet-card.html'"></div>
    <div ng-if="tweets.count === 0" class="alert alert-info" role="alert">
      No tweets waiting for review. <a ui-sref="dashboard.compose.new" class="alert-link">Why not write a new one?</a>
    </div>

    <div class="center-block">
      <p class="text-center"><em>All pending tweets shown</em></p>
    </div>
  </div>

  <div class="col-lg-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        Recent activity
      </div>
      <div class="panel-body">
        <div class="list-group">
          <li class="list-group-item action-item" ng-repeat="action in activity.results">
            <div ng-include="'views/partials/action.html'">
          </li>
        </div>
      </div>
    </div>
  </div>
</div>
